body {
  text-align: center;
  background-color: #011F3F;
}

#level-title, 
#round, 
#count {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.startbtn {
  height: 40px;
  width: 60px;
  background-color: #41424C;
  color: white;
  border-radius: 10px;
  border-color: transparent;
}

.startbtn:hover {
  cursor: pointer;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.btn:hover {
  cursor: pointer;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#round {
  display: none;
}

#count {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  color: white;
  padding: 10px;
  font-size: 2rem;
}


@media (max-width: 600px) {
  /*.startbtn {*/
  /*  height: 50px;*/
  /*  width: 80px;*/
  /*}*/

  #level-title {
    font-size: 1.5rem;
  }

  .btn {
    height: 100px;
    width: 100px;
  }

  .row {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .container {
    width: 100%;
  }

}

